<div class="container-fluid footer-1 ">
  <div class="d-flex justify-content-around w-100">
    <div class="">
        <i class="fa-solid fa-truck-fast"></i>
        <p>  Fast Delivery     </p>
    </div>
    <div class="">
        <i class="fa-solid fa-tag"></i>
        <p> 15 days easy return  </p>
    </div>
    <div class="">
        <i class="fa-solid fa-location-dot"></i>
        <p>  Track Order    </p>
    </div>
  </div>
</div>

<div class="container-fluid footer-2 ">
    <!-- footer list -->
    <div class=" footer-list justify-content-between" >
    
      <li>
          <ul>What's In Store</ul>
          <ul>Men</ul>
          <ul>Women</ul>
          <ul>Kids</ul>
          <ul>New Arrivals</ul>
          <ul>Track Order</ul>
      </li>
      <li>
          <ul>Company Info & Policies</ul>
          <ul>Blogs</ul>
          <ul>Corporate</ul>
          <ul>Terms & Conditions</ul>
          <ul>Privacy & Cookies Policy</ul>
          <ul>FAQ's</ul>
          <ul>Return & Claim Policy</ul>
          <ul>Contact Us</ul>
          <ul>Return/Exchange</ul>
      </li>
      <li>
          <ul>Get In Touch</ul>
          <ul>For Online Orders:</ul>
          <ul class="bold-texts mt-3">Inquiry/Complaint:</ul>
          <ul class="mb-0">9667706012</ul>
          <ul>10.00AM to 7:00PM</ul>
          <ul class="bold-texts mt-3">Any Other queries:</ul>
          <ul class="mb-0">9667706012</ul>
          <ul >10.00AM to 7:00PM</ul>
          <ul class="bold-texts">Email: <span>customercare@campusshoes.com</span></ul>
      </li>
      <li style="width: 400px; justify-content: end;">
        <ul>Newsletter</ul>
        <ul  >Sign up for exclusive offers, original stories, upcoming events and more.</ul>
        <ul><input type="text" width="150px" height="30px" style="background-color: white;"></ul>
        <ul>  <button class="sign-up">SIGN UP</button></ul>
        <!-- social media icons -->
        <ul >
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-instagram"></i>
        </ul>
    </li>
    
    
      
  </div>
</div>

<div class="footer-3">
<h2 > Popular Searches</h2>
<div class="key-searches  ">
  <a  *ngFor="let key of Menkeywords">{{key}} <span> | </span></a> <br>
  <a  *ngFor="let key of Womenkeywords">{{key}} <span> | </span></a> <br>
  <a  *ngFor="let key of Kidskeywords">{{key}} <span> | </span></a> 
</div>
</div>
<div class="footer-4">
  <div>
    <a href="">© 2024 Campus Shoes.</a>
  </div>
</div>