/* navbar.component.css */

.navbar-brand img {
    height: 30px; /* Adjust the height as needed */
  }
  
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }

  @import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
  .left-nav{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 15px;   
    color: black;
    justify-content: flex-start;
    margin: 0px;
  }
  .right-nav{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 11px;   
    color: black;
    justify-content: flex-end;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .fa-solid,.fa-regular{
        font-size: 22px;
        margin-left: 8px;
    }
    .navbar-brand{
        margin-left: 35px;
    }
    @media screen and (max-width: 992px) {
       .left-nav{
        width: 100%;
        display:flex;
        flex-direction: row;
        order: 2;
        justify-content: center;
       }
       .right-nav{
        width: 100%;
       flex-direction: row;
       order: 1;
      
       }
       a{
        padding: auto;
       }
       
      }
      
      @media screen and (max-width: 545px) {
      .left-nav{
        font-size: 10px;
      
      }
      .right-nav{
        font-size: 10px;
        flex-direction: column;
     
       }
        .navbar{
         margin-bottom: 0;
         }
      }
/* =====================================nav-link hover effects==================== */
.left-nav a {
    position: relative;
  }
  
  .left-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0%; /* Position it at the center */
    transform-origin: center; /* Set the transform origin to the center */
    transform: scaleX(0); /* Start with no width */
    transition: transform .3s ease-in-out;
  }
  
  .left-nav a:hover::before {
    transform: scaleX(1); /* Expand to full width */
  }
 /*========================== responsive toggler================== */
  .navbar-toggler {
    transition: transform 1s ease-in-out; /* Add smooth transition for transform */
  }
  
  .navbar-toggler-icon {
    transition: opacity 1s ease-in-out; /* Add smooth transition for opacity */
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    opacity: 0.4; /* Hide the icon when the navbar is expanded */
  }
  /* dropdown css */
  nav li ul{
     font-size: 13px;
    color: black;
    opacity: 0.7;
}  
nav li ul:hover{
    color: orange;
}  
nav li ul:first-child{
        opacity: 0.7;
        color: grey;
} 
.collection-dropdown li{
    font-size: 14px;
    margin:7px 10px 0 10px;
    opacity: 0.7;
    color: grey;
}
.drop{
   
    border-top: 1px solid rgba(185, 177, 181, 0.3);
}
li ul a img{
    padding-top: 27px;
  height: 200px;
}
li ul div{
 font-size: 14px;
 color: rgba(0, 0, 0, 0.7);
}