.container-fluid{
    height: 700px;
    margin-top: 60px;
}
/*  */

.ekart--product--details--info{
    position: absolute;
    z-index: 10;
    background-color: white;
    transition: 1s;
    width: 480px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px 25px;
}
.ekart-product-detail-close{
    text-align: right;
    color:#28282B;
    font-size: 20px;
    font-weight: lighter;
    padding: 5px 0px;
}
.ekart-product-detail-image{
    width: 100%;
    height: 320px;
}
.ekart-product-detail{
    padding: 10px 0px;
}



.ekart-product-detail-name{
    margin: 7px auto;
    font-size: 20px;
    font-weight: 400;
}
.ekart-product-detail-price{
   justify-content: flex-start;
   align-items: center;
   
   
} 
.ekart-product-detail-size{
    margin: 30px 0px;
}
span{
    padding: 5px 10px;
    margin: 5px 5px;
    border-radius: 5px;
}
.ekart-product-detail-available-size{
    margin: 0px 0px;
    background-color: #efefef; 
    color: rgba(156, 165, 151, 1);
    
    border-radius: 0px;
    padding: 12px 18px;
    margin: 5px 5px;
    font-size: 18px;
}
.ekart-product-detail-available-color{
    border-radius: 50%;
    padding: 8px 18px;
    background-color: red;
}
.ekart-product-detail-desc{
    margin-top: 30px;
    font-size: 14px;
}
.ekart-product-detail-addtoCart{
    margin: 20px 0px;
}
.btn-add-to-cart{
    border: none;
    background-color: #28282B;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
}
.ekart--add--to--striked-price{
    text-decoration: line-through;
    width: 170px;
    display: flex;
    opacity: 0.7;
    margin-left: 10px;
}
/* .discountprice{
   height: 30px;
}  */
/* .nodiscount{
    margin: 0px 17px 30px 5px;
} */
.tax-text{
    font-size: 12px;
    opacity: 0.8;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 15px;
}
.ekart-wishlist-sale-container{
    display: inline-block;
    width: 70px;
    position: absolute;
    padding: 5px 0px;
    z-index: 1;
   
}
.ekart--add--to--wishlist{
    padding:2px 10px;
    text-align: right;
    font-size: 22px;
    position: absolute;
}
/* Sale tag */
.ekart-on-sale-tag{
    float: right;
    font-size: 14px;
    margin-top: 30px;
    margin-right:  60px;
    padding: 5px 10px;
    background-color: #c20000;
    color: #efefef;
    font-weight: bold;
}
.ekart-product-detail-color{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
}
.color-box{
    padding: 14px 5px;
    margin: 5px 5px;
    border: 1px solid gainsboro;
    background-color: #efefef;
    opacity: 0.8;
    
}
.color-text{
    font-size: 20px;
    font-weight: 400;

}
.ekart--product--in--stock,
.ekart--product--available-colors{
    font-size: 12px;
    color: #999;
    margin-top: 7px;
}