<div class="container-fluid">
    <!-- first two image -->
    <div class="d-flex justify-content-between">
        <div><img width="680px"
                src="//www.campusshoes.com/cdn/shop/files/Artboard_1_1b44718d-aeeb-41f5-a5d0-1690833150ce.jpg?v=1712469721 900w 900h"
                alt=""></div>
        <div><img width="680px"
                src="//www.campusshoes.com/cdn/shop/files/Artboard_4_24dba6c7-4c73-4b6e-a636-35ff8ca70708.jpg?v=1712469740 900w 900h"
                alt=""></div>
    </div>
    <!-- second two image -->
    <div class="d-flex  justify-content-between mt-4">
        <div><img width="680px"
                src="//www.campusshoes.com/cdn/shop/files/Artboard_3_d161cefe-554b-4959-a074-564d92854089.jpg?v=1712469759 900w 900h"
                alt=""></div>
        <div><img width="680px"
                src="  //www.campusshoes.com/cdn/shop/files/Artboard_2_7d5d3185-9007-4c9b-b21e-de5a139e095f.jpg?v=1712469805 900w 900h"
                alt=""></div>
    </div>

    <div class="d-flex justify-content-center explore">Explore More!</div>
    <div class="d-flex justify-content-center best"> Get The Best Of Campus</div>
    <!-- third two image -->
    <div class="d-flex  justify-content-between">
        <div><img width="680px" src="//www.campusshoes.com/cdn/shop/files/Artboard_5_2048x.jpg?v=1712379386 2048w"
                alt=""></div>
        <div><img width="680px" src="//www.campusshoes.com/cdn/shop/files/Artboard_6_2048x.jpg?v=1712379517 2048w"
                alt=""></div>
    </div>
    <div class="d-flex justify-content-between last-gallery">
        <!-- fourth two image -->
        <div class="d-flex  justify-content-start">
            <div class="image-down"><img width="300px"
                    src="//www.campusshoes.com/cdn/shop/files/Home_Featured_image_1_2048x.jpg?v=1704714236 2048w"
                    alt=""></div>
            <div class="image-up"><img width="300px"
                    src="//www.campusshoes.com/cdn/shop/files/Home_Featured_image_2_2048x.jpg?v=1704714255 2048w"
                    alt=""></div>
        </div>
        <div class="text-last-gallery  justify-content-start ">
            <div class="explore">Know Your Shoe!</div>
            <div class="best">Explore Our Air-Turbo Tech</div>
            <button class="shop-now">SHOP NOW</button>
        </div>
    </div>
    <iframe width="100%" height="797" src="https://www.youtube.com/embed/tkGphiphvuQ" frameborder="0"
        allowfullscreen></iframe>

</div>