<div class="container-fluid ">
    <div class="bestseller-name d-flex justify-content-center ">
        <button (click)="scrollLeft()"><i class="fa-solid fa-chevron-left"></i></button>
        <span>Bestsellers</span>
        <button (click)="scrollRight()"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div class="d-flex justify-content-center">
        <a href="">VIEW ALL</a>
    </div>
    
    <div class="bestseller-container " #scroll>
        <div class="inner d-flex" >
           
            <!-- <div class="ekart--product--item" *ngFor="let product of products; let i = index " (mouseover)="showButton=true" (mouseleave)="showButton=!showButton"  > -->

<div class="ekart--product--item" *ngFor="let product of products; let i = index"  (mouseover)="showbutton(i)" (mouseleave)="hidebutton()" (click)="productInfo(product)" >
    <div class="ekart-wishlist-sale-container">
        <div class="ekart--add--to--wishlist">
            <i class="fa fa-heart-o" aria-hidden="true"></i>

        </div>
        <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
            {{(100-(product.discountPrice/product.price)*100).toFixed(1)+'%OFF '}}</div>
    </div>
    <div class="ekart--product--image" >
        <img [src]="product.imageURL" class="ekart--product--image">
    </div>
   
    <!-- <br [hidden]="product.discountPrice"> -->
    <div *ngIf="product.discountPrice">Discounted Price:</div><br>
    <div class="ekart--add--to--price nodiscount" [hidden]="product.discountPrice">
        {{'$'+product.price}}
    </div>
   <div class="d-flex justify-content-start  discountprice">
    <div class="ekart--add--to--price" *ngIf="product.discountPrice">
        {{('$'+product.discountPrice)}}
    </div>
    <!-- <br [hidden]="product.discountPrice"> -->
    <div class="ekart--add--to--striked-price" [hidden]="!product.discountPrice">
        <s>{{('$'+product.price)}}</s>
    </div>
   </div>

    <div class="ekart--product--name">{{product.name}}</div>
    <div class="d-flex justify-content-between">
        <div class="ekart--product--category">{{product.gender}} . {{product.brand}} . {{product.category}}</div>
        <div class="ekart--product--available-colors">{{product.color.length}} Colors . Best Seller</div>
    </div>
 
    <div class="ekart--product--in--stock"
        [ngStyle]="{fontweight:'bold',color:product.is_in_inventory ? 'Green' : 'Red'}">{{product.is_in_inventory ?
        'Availble in stock' : 'Not available in stock'}}
        </div>
        <button class="buyButton" *ngIf="showButton==i" [disabled]="!product.is_in_inventory">Quick Buy</button>
</div> 
        </div>
    </div>
</div>